body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  float: left;
}
.number{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box{
  color: white;
  position: relative;
  float: left;
  width: 100%;
  cursor: pointer;
}
.box-bg{
  height: -webkit-fill-available;
  border: solid 10px;
}
.box1{
  height: 600px;
  width: 50%;
}
.box2{
  height: 300px;
  width: 50%;
}
.box3{
  height: 300px;
  width: 25%;
}
.box4{
  height: 300px;
  width: 25%;
}
.box5{
  height: 200px;
  width: 33.33%;
}
.box6{
  height: 250px;
  width: 33.33%;
}
.box7{
  height: 400px;
  width: 33.33%;
}
.box8{
  height: 150px;
  width: 33.33%;
}
.box9{
  height: 200px;
  width: 33.33%;
  top: -200px;
}

@media (max-width: 600px) {
  .box{
    height: 160px;
    width: 100%;
  }
  .box2{
    width: 50%;
  }
  .box3{
    width: 50%;
  }
  .box6{
    width: 50%;
  }
  .box7{
    width: 50%;
  }
  .box8{
    width: 50%;
  }
  .box9{
    width: 50%;
  }
  .box9{
    top: 0;
  }
}